{% extends "parent/base.html" %}
{% load blog2_tags %}
{% block title %}main page{% endblock %}

{% block content %}
    <div>
        <p>sugested post for you: </p>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h2>
                <p class="post-excerpt">{{ post.body|truncatewords:5 }}</p>

                      {% with post.images.first as img %}
                         {% if img and img.img %}
                            <img src="{{ img.img.url }}" width="600" height="400" alt="{{ img.title }}">
                         {% endif %}
                      {% endwith %}
    </div>
<hr>
    <br>
    <div>
        <p>number of published posts: {% post_count %}</p>
        <p>number of comments: {% comment_count %}</p>
        {% last_post as lp %}
        <p >latest post: <a class="no-underline" href="{{ lp.get_absolute_url }}">{{ lp.title }}</a></p>
    </div>
    <div>
        {% last_posts %}
    </div>
    <div>
        <br>
        <br>
        {% hot_posts %}
    </div>
    <div>
    <br>
        <br>
        <h2>categories:</h2>
        <a href="{% url 'blog2:post_list_category' 'technology' %}">technology</a><br>
        <a href="{% url 'blog2:post_list_category' 'ai' %}">ai</a><br>
        <a href="{% url 'blog2:post_list_category' 'programming language' %}">programming language</a>
    </div>

{% endblock %}