{% extends "parent/base.html" %}

{% block title %}search{% endblock %}
<br>

{% block content %}
    <h2 class="search-title">search resaults for: {{ query }} </h2>
<h5 class="search-count">number of resaults found: {{ resaults.count }}</h5>

{% for post in resaults %}
    <a class="search-link" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    <p class="search-snippet">{{ post.body | truncatewords:5 }}</p>
{% empty %}
    <p class="search-empty">could not found any thing!!</p>
{% endfor %}


{% endblock %}
